* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header section style related */

header {
    background-color: rgba(229, 84, 115, 0.10);
    height: 100vh;
    margin-bottom: 150px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px 50px 0px 50px;
}

.banner-title {
    font-size: 55px;
    font-weight: bold;
    color: #272727;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin: 30px 0px;
    width: 500px;

}

.banner-photo {
    width: 450px;
    height: 605px;
    object-fit: cover;
}

.btn-primary {
    padding: 15px 45px;
    border-radius: 5px;
    text-align: center;
    background: #E55473;
    color: #fff;
    border: 0px;
}


/* Main in flower feature section style related */

.flower-feature-content {

    margin-bottom: 150px;
}

.feature-box-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 25px;
}

.feature-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #272727;
}

.feature-description {
    padding: 20px 70px 10px 70px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    width: 40%;
}


.box {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
    padding: 50px 20px 0px 20px;
    text-align: center;
    width: 250px;
    height: 250px;
}

.alignment {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    color: #272727;
    margin-top: 10px;
    font-size: 18px;

}

.flower-picture {
    width: 200px;
    height: 250px;
}


/* Main in flower Delivery section style related */

.flower-delivery-container {
    width: 70%;
    height: 250px;
    margin: auto;
    border-radius: 7px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.picture-sizing {
    width: 88px;
    height: 88px;
    object-fit: cover;
}

.title {

    margin-top: 10px;
    font-size: 17px;
    color: rgba(39, 39, 39, 0.80);
}

/* Main in flower Delivery section style related */

.hot-deal-container {

    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 100px;
    background-color: rgba(229, 84, 115, 0.10);
}

.hot-deal-title {
    color: #272727;
    font-size: 30px;
    font-weight: bold;

}

.primary {
    color: #E55473;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    padding: 25px 0px;
    font-size: 15px;
    width: 50%;
    margin: auto;
}

.flower-photos {
    width: 200px;
    height: 250px;
    margin-right: 200px;
}


/* Main in flower Social section style related */

.social-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #272727;

}

.social-description {
    padding: 20px 70px 10px 70px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
    width: 40%;
}


.flower-picturs {
    margin-top: 15px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.picture-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 15px;
}

.subscribe-section-container{
 
background-image:url( '../Flower Asset/Rectangle\ 9.png');


}